import React from 'react';
import { {{pascalCase name}}Screen } from '@Screens';

const {{pascalCase name}}: React.FC = (props) => {
  return (
  <div>
    <{{pascalCase name}}Screen/>
  </div>
  );
};

export default {{pascalCase name}};
